<footer class="flex-col bg-[#c9e2ff] p-6 text-center mt-20 ml-12 mr-12 mb-12">
  <div class="mb-6">
    <h5 class="text-lg font-semibold">Sobre o Projeto</h5>
    <p class="mt-4 text-justify leading-relaxed text-sm">
      O <strong>MapasODS</strong> é uma iniciativa acadêmica em desenvolvimento na 
      <strong>UTFPR - Campus Guarapuava</strong>, voltada à criação de uma ferramenta para mensurar e analisar o 
      <strong>consumo de água</strong> em diferentes setores da instituição.  
      O objetivo é contribuir com o <strong>diagnóstico sustentável</strong> e apoiar as metas da 
      <strong>Agenda 2030</strong>, em especial os <strong>Objetivos de Desenvolvimento Sustentável (ODS)</strong>
      propostos pela <strong>ONU</strong>.
    </p>
  </div>

  <div class="">
    <h5 class="text-lg font-semibold">Desenvolvedores</h5>
    <p class="mt-4 text-sm">Natalia Lupp</p>
    <p class="text-sm">Peterson Henrique Pádua</p>
  </div>

  <div class="border-t border-gray-400 mt-6 pt-4 text-sm text-gray-700">
    <p>© {{ano}} MapasODS — Todos os direitos reservados.</p>
    <p>
      Projeto desenvolvido com foco em sustentabilidade e inovação tecnológica.
    </p>
  </div>
</footer>
