<div class="flex flex-col items-center bg-white shadow-sm w-64 min-h-screen pt-8 bg-base-100 h-full">
    <!-- Avatar (desktop) -->
    <div class="mb-3 hidden lg:block">
        <img src="assets/img/img-modelo-adm.png" alt="adm-foto"
            class="rounded-full border-2 border-primary/30 w-[90px] h-[90px] object-cover" />
    </div>

    <div class="text-center mb-6 hidden lg:block">
        <h5 class="font-bold text-gray-500 mb-0">Profª Pricila</h5>
        <p class="text-[#36B1F4] mb-0 text-sm">Administrador</p>
        <p class="text-[#36B1F4] text-sm mb-0">Unidade: Guarapuava</p>
    </div>
</div>