<nav class="navbar bg-white shadow-sm border-b border-blue-500">
    <div class="flex-1">
        <a [routerLink]="'/dashboard-adm'" class="bt btghost">
            <img src="assets/img/logo-escrito.png" alt="Logo Mapas ODS" class="h-8 w-auto" />
        </a>
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a class="text-gray-500" routerLink="/">Home</a></li>
            <li><a class="text-gray-500" routerLink="/contas-sanepar">Registro Contas Sanepar</a></li>
            <li><a class="text-gray-500" routerLink="/eventos">Eventos</a></li>
            <li><a class="text-gray-500" routerLink="/alunos-semestre">Alunos </a></li>
             <li><a class="text-gray-500" routerLink="/outros">Outros </a></li>
             <li><a class="text-gray-500" routerLink="/calculadora-nakagawa">Calculadora Nakagawa </a></li>
            <li><a class="text-gray-500">Sair</a></li>
        </ul>
    </div>

    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
            <img src="assets/img/img-modelo-adm.png" alt="adm-foto" />
        </div>
    </div>
</nav>