<div class="card bg-blue-600 w-[440px] h-[420px] shadow-lg rounded-none flex flex-col items-center justify-start p-6">
  <figure class="flex justify-center">
    <img class="w-44 h-44 object-contain mt-6" src="assets/logo.png" alt="Logo" />
  </figure>
  <div class="card-body flex flex-col items-center text-center px-6">
    <h2 class="card-title text-3xl font-bold text-white">Mapas ODS</h2>
    <p class="text-gray-200 mt-3 text-center">
      Análise de dados de consumo de água para um futuro sustentável
    </p>
  </div>
</div>
